Repository cusma/d-asa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

ruff:
  name: ruff
  description: Run 'ruff' for extremely fast Python linting
  entry: poetry run ruff
  language: system
  minimum_pre_commit_version: '0'
  require_serial: false
  args:
  - check
  - --fix
  additional_dependencies: []

mdbook-test:
  name: mdbook test
  description: Checks mdBook pass tests.
  entry: mdbook test
  language: rust
  minimum_pre_commit_version: 3.2.0
  additional_dependencies: []
  pass_filenames: false

docs: contract wording
  docs/COVER.md
  docs/specs/rbac/rbac.md
Due: mdbook-test

docs: premium and discount
  docs/specs/contract/attributes.md
Due: mdbook-test

docs: remove legacy references
  docs/specs/contract/attributes.md
  docs/specs/execution/payment-agent/payment-agent.md
Due: mdbook-test

docs: interest wording
  docs/specs/contract/attributes.md
  docs/specs/contract/day-count-convention.md
  docs/specs/execution/payment-agent/payment-agent.md
  docs/specs/execution/payment-agent/settlement.md
Due: mdbook-test

docs: avm execution
  docs/SUMMARY.md
  docs/specs/execution/avm.md
  docs/specs/execution/payment-agent/payment-agent.md
  docs/specs/execution/time.md
Due: mdbook-test

docs: entry flags; schedule page key
  docs/specs/contract/kernel-state-and-schedule.md
Due: mdbook-test

docs: primary distribution window
  docs/specs/execution/transfer-agent/primary-market.md
Due: mdbook-test

docs: avm arc-28 events
  docs/events/events.md
Due: mdbook-test

docs: center mermaid diagrams
  docs/implementation/architecture.md
  docs/specs/contract/intro.md
  docs/specs/contract/kernel-state-and-schedule.md
  docs/specs/contract/normalization-and-configuration.md
  docs/specs/overview.md
Due: mdbook-test

chore: allow in-line div
  .markdownlint.json
Due: none

docs: bdc and eomc tables
  docs/specs/contract/day-count-convention.md
Due: mdbook-test

docs: specs versioning
  docs/COVER.md
Due: mdbook-test

docs: pam fcb example
  README.md
  docs/images/cli-pam-fcb.png
  docs/implementation/tests.md
Due: mdbook-test

docs: plain flow chart
  README.md
Due: mdbook-test

docs: lender wording
  docs/specs/accounting/account.md
  docs/specs/contract/attributes.md
  docs/specs/rbac/roles.md
Due: mdbook-test

docs: nit
  README.md
Due: mdbook-test

docs: fund due cashflow permission
  docs/interfaces/payment-agent/overview.md
  docs/sdk/roles.md
  docs/specs/execution/payment-agent/payment-agent.md
  docs/specs/rbac/roles.md
Due: mdbook-test

feat: fund due cashflow permission
  modules/payment_agent.py
Due: none

chore: build artifacts
  smart_contracts/artifacts/d_asa/DASA.approval.puya.map
  smart_contracts/artifacts/d_asa/DASA.approval.teal
  src/d_asa/artifacts/DASA.arc56.json
  src/d_asa/artifacts/dasa_client.py
Due: none

chore: fund due cashflows with op daemon
  src/d_asa/dasa.py
Due: none

test: fund due cashflow permission
  tests/pam/zcb/test_pam_zero_coupon_bond.py
  tests/sdk/test_dasa.py
Due: ruff

chore: formatting
  modules/payment_agent.py
  tests/pam/zcb/test_pam_zero_coupon_bond.py
  tests/sdk/test_dasa.py
Due: ruff

docs: avoid arranger lockout
  docs/interfaces/contract/overview.md
  docs/interfaces/rbac/overview.md
  docs/specs/rbac/rbac.md
  docs/specs/rbac/roles.md
Due: mdbook-test

feat: validate arranger address (no lockout)
  modules/actus_kernel.py
  modules/rbac.py
Due: none

chore: set role only for non-arranger roles
  modules/rbac.py
Due: none

chore: build artifacts
  smart_contracts/artifacts/d_asa/DASA.approval.puya.map
  smart_contracts/artifacts/d_asa/DASA.approval.teal
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.puya.map
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.teal
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.arc56.json
  smart_contracts/artifacts/mock_module_rbac/mock_rbac_module_client.py
  src/d_asa/artifacts/DASA.arc56.json
  src/d_asa/artifacts/dasa_client.py
Due: ruff

test: invalid arranger address
  tests/mock_module_rbac/test_mock_rbac_module.py
Due: ruff

test: invalid arranger address
  tests/sdk/test_dasa.py
Due: ruff

chore: formatting
  tests/sdk/test_dasa.py
Due: ruff

chore: treat arranger as a special address
  modules/rbac.py
Due: none

chore: remove mocked tests
  tests/sdk/test_dasa.py
Due: ruff

chore: fix typos
  tests/mock_module_rbac/test_mock_rbac_module.py
Due: ruff

docs: treat arranger as special role
  docs/interfaces/rbac/overview.md
Due: mdbook-test

docs: secondary market opens on ied or after
  docs/interfaces/transfer-agent/overview.md
  docs/specs/contract/normalization-and-configuration.md
  docs/specs/execution/transfer-agent/secondary-market.md
Due: mdbook-test

feat: secondary market opens on ied or after
  modules/transfer_agent.py
  smart_contracts/errors.py
Due: ruff

feat: sdk secondary market dates validation
  src/d_asa/dasa.py
  src/d_asa/models.py
  src/d_asa/normalization/core.py
Due: none

test: sdk secondary market dates validation
  tests/sdk/test_dasa.py
  tests/sdk/test_models.py
  tests/sdk/test_normalization.py
Due: ruff

Path conditions:
  ruff: any of: ^(smart_contracts|tests)/ and \.py$
  mdbook-test: any of: \.(md|markdown|mdown)$
