Repository cusma/d-asa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

.pre-commit-config.yaml:

repos:
  # AlgoKit
  - repo: local
    hooks:
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff
        language: system
        minimum_pre_commit_version: '0'
        require_serial: false
        types: [ python ]
        args: [ "check", "--fix" ]
        additional_dependencies: [ ]
        files: '^(smart_contracts|tests)/'

      - id: mypy
        name: mypy
        description: '`mypy` will check Python types for correctness'
        entry: poetry run mypy
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
        additional_dependencies: [ ]
        files: '^(smart_contracts|tests)/'

      # # Uncomment to enable TEAL static analysis using Tealer package
      # - id: tealer
      #   name: tealer
      #   description: "Run AlgoKit `Tealer` for TEAL static analysis"
      #   entry: algokit
      #   language: system
      #   args: [project, run, "audit-teal"]
      #   require_serial: false
      #   additional_dependencies: []
      #   minimum_pre_commit_version: "0"
      #   files: '^.*\.teal$'

  # Docs
  - repo: local
    hooks:
      - id: mdbook-build
        name: mdbook build
        description: "Builds mdBook."
        entry: mdbook build
        language: rust
        minimum_pre_commit_version: 3.2.0
        additional_dependencies: [ ]
        pass_filenames: false

      - id: mdbook-test
        name: mdbook test
        description: "Checks mdBook pass tests."
        entry: mdbook test
        language: rust
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown/Commonmark files."
        entry: markdownlint
        language: node
        minimum_pre_commit_version: 0.15.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: "Trims trailing whitespace."
        entry: trailing-whitespace-fixer
        language: python
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

chore: reorg project strucutre
  docs/CONTRIBUTIONS.md
Due: mdbook-test

chore: nit
  docs/implementation/architecture.md
Due: mdbook-test

chore: reorg test folder
  docs/CONTRIBUTIONS.md
  tests/mock_module_accounting/__init__.py
  tests/mock_module_accounting/conftest.py
  tests/mock_module_accounting/test_account_close.py
  tests/mock_module_accounting/test_account_get_info.py
  tests/mock_module_accounting/test_account_gov_suspension.py
  tests/mock_module_accounting/test_account_open.py
  tests/mock_module_accounting/test_account_update_payment_address.py
  tests/mock_module_rbac/__init__.py
  tests/mock_module_rbac/conftest.py
  tests/mock_module_rbac/test_policy_set_asset_suspension.py
  tests/mock_module_rbac/test_rbac_assign_role.py
  tests/mock_module_rbac/test_rbac_get_address_role.py
  tests/mock_module_rbac/test_rbac_get_arranger.py
  tests/mock_module_rbac/test_rbac_get_role_config.py
  tests/mock_module_rbac/test_rbac_revoke_role.py
  tests/mock_module_rbac/test_rbac_rotate_arranger.py
Due: ruff, mdbook-test

chore: update paths for change detection
  .github/workflows/d-asa-ci.yaml
Due: none

chore: update paths for mixin validation
  smart_contracts/mixin_composition.py
  tests/shared/test_mixin_composition_guards.py
Due: ruff

chore: lint
  smart_contracts/mixin_composition.py
Due: ruff

chore: move test; clean up tmp dir
  tests/test_mixin_composition_guards.py
Due: ruff

chore: add holding address to payment authorization
  modules/payment_agent/common.py
Due: none

chore: build artifacts
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.puya.map
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.teal
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.arc56.json
  smart_contracts/artifacts/fixed_coupon_bond/fixed_coupon_bond_client.py
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.teal
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.puya.map
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.teal
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.arc56.json
  smart_contracts/artifacts/zero_coupon_bond/zero_coupon_bond_client.py
Due: ruff

ci: add helper tests to shared test suite
  .github/workflows/d-asa-ci.yaml
Due: none

docs: add deepwiki (experimental)
  README.md
  docs/SUMMARY.md
  docs/implementation/deepwiki.md
Due: mdbook-test

ci: pin mdbook-mermaid version
  .github/workflows/docs-cd.yaml
Due: none

ci: lock mermaid version
  .github/workflows/docs-cd.yaml
Due: none

docs: nit
  docs/implementation/deepwiki.md
Due: mdbook-test

chore: actus events
  smart_contracts/enums.py
  smart_contracts/events.py
Due: ruff

chore: emit IED event
  modules/core_financial/common.py
Due: none

chore: emit IP event
  modules/payment_agent/coupon.py
Due: none

chore: emit PR event
  modules/payment_agent/principal.py
Due: none

chore: lint
  modules/core_financial/coupon.py
Due: none

chore: remove ied event
  modules/core_financial/common.py
Due: none

chore: use circulating units in nominal value event field
  modules/payment_agent/coupon.py
  modules/payment_agent/principal.py
Due: none

chore: get and decode actus event
  tests/utils.py
Due: ruff

test: fixed coupon bond actus events
  tests/fixed_coupon_bond/test_actus_events.py
Due: ruff

chore: ignore ruff E501 in tests
  pyproject.toml
Due: none

ci: test actus events
  .github/workflows/d-asa-ci.yaml
Due: none

chore: remove unused event type constants
  smart_contracts/enums.py
Due: ruff

docs: events
  docs/SUMMARY.md
  docs/events/events.md
  docs/interfaces/payment-agent/pay-coupon.md
  docs/interfaces/payment-agent/pay-principal.md
Due: mdbook-test

chore: lol, ai comment leftover
  tests/utils.py
Due: ruff

chore: nit
  tests/fixed_coupon_bond/test_actus_events.py
Due: ruff

chore: nit
  docs/interfaces/contract/get-payment-amount.md
  docs/specs/contract/denomination.md
  docs/specs/execution/payment-agent/settlement.md
  docs/specs/overview.md
Due: mdbook-test

chore: nit
  docs/specs/execution/payment-agent/settlement.md
Due: mdbook-test

chore: actus enums
  smart_contracts/constants.py
  smart_contracts/enums.py
Due: ruff

feat: sdk errors
  src/errors.py
Due: none

feat: actus contract registry
  src/registry.py
Due: none

test: actus contract registry
  tests/sdk/test_registry.py
Due: ruff

chore: nit
  tests/conftest.py
Due: ruff

feat: actus models
  src/models.py
Due: none
