Repository cusma/d-asa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

ruff:
  name: ruff
  description: Run 'ruff' for extremely fast Python linting
  entry: poetry run ruff
  language: system
  minimum_pre_commit_version: '0'
  require_serial: false
  args:
  - check
  - --fix
  additional_dependencies: []

mdbook-test:
  name: mdbook test
  description: Checks mdBook pass tests.
  entry: mdbook test
  language: rust
  minimum_pre_commit_version: 3.2.0
  additional_dependencies: []
  pass_filenames: false

docs: nit
  docs/implementation/reference-implementation-tests.md
Due: mdbook-test

fix: args and return type
  tests/module_rbac/test_rbac_get_address_role.py
Due: ruff

fix: args and return type
  tests/module_rbac/test_rbac_get_role_config.py
  tests/module_rbac/test_rbac_revoke_role.py
Due: ruff

chore: skip shadowed error
  tests/perpetual_bond/test_asset_transfer.py
Due: ruff

chore: lint
  docs/implementation/reference-implementation.md
Due: mdbook-test

docs: rotate arranger
  docs/specs/rbac/roles.md
Due: mdbook-test

docs: rotate arranger
  docs/interfaces/rbac/rotate-arranger.md
Due: mdbook-test

docs: get arranger
  docs/interfaces/rbac/get-arranger.md
Due: mdbook-test

docs: nit
  docs/interfaces/rbac/get-role-config.md
Due: mdbook-test

chore: add missing link
  docs/SUMMARY.md
Due: mdbook-test

chore: add docstrings
  smart_contracts/modules/rbac.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.puya.map
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.teal
  smart_contracts/artifacts/base_d_asa/BaseDAsa.arc56.json
  smart_contracts/artifacts/base_d_asa/base_d_asa_client.py
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.puya.map
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.teal
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.arc56.json
  smart_contracts/artifacts/fixed_coupon_bond/fixed_coupon_bond_client.py
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.approval.puya.map
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.approval.teal
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.arc56.json
  smart_contracts/artifacts/mock_module_accounting/mock_accounting_module_client.py
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.puya.map
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.teal
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.arc56.json
  smart_contracts/artifacts/mock_module_rbac/mock_rbac_module_client.py
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.teal
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.puya.map
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.teal
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.arc56.json
  smart_contracts/artifacts/zero_coupon_bond/zero_coupon_bond_client.py
Due: ruff

docs: update payment address
  docs/SUMMARY.md
  docs/interfaces/account/update-payment-address.md
Due: mdbook-test

chore: update payment address docstring and preconditions
  smart_contracts/modules/accounting.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.puya.map
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.teal
  smart_contracts/artifacts/base_d_asa/BaseDAsa.arc56.json
  smart_contracts/artifacts/base_d_asa/base_d_asa_client.py
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.puya.map
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.teal
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.arc56.json
  smart_contracts/artifacts/fixed_coupon_bond/fixed_coupon_bond_client.py
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.approval.puya.map
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.approval.teal
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.arc56.json
  smart_contracts/artifacts/mock_module_accounting/mock_accounting_module_client.py
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.teal
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.puya.map
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.teal
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.arc56.json
  smart_contracts/artifacts/zero_coupon_bond/zero_coupon_bond_client.py
Due: ruff

chore: eradicate base_d_asa
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.puya.map
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.teal
  smart_contracts/artifacts/base_d_asa/BaseDAsa.arc56.json
  smart_contracts/artifacts/base_d_asa/BaseDAsa.clear.puya.map
  smart_contracts/artifacts/base_d_asa/BaseDAsa.clear.teal
  smart_contracts/artifacts/base_d_asa/base_d_asa_client.py
  smart_contracts/base_d_asa/config.py
  smart_contracts/base_d_asa/contract.py
  tests/base_d_asa/__init__.py
  tests/base_d_asa/conftest.py
  tests/base_d_asa/test_asset_config.py
  tests/base_d_asa/test_asset_create.py
  tests/base_d_asa/test_asset_update.py
  tests/base_d_asa/test_get_asset_info.py
  tests/base_d_asa/test_get_asset_metadata.py
  tests/base_d_asa/test_get_secondary_market_schedule.py
  tests/base_d_asa/test_get_time_events.py
  tests/base_d_asa/test_primary_distribution.py
  tests/base_d_asa/test_set_secondary_time_schedule.py
  tests/base_d_asa/test_sub_accout_units_value.py
Due: ruff

chore: reorg asset interface folder
  docs/SUMMARY.md
  docs/interfaces/asset/config.md
  docs/interfaces/asset/get-account-units-current-value.md
  docs/interfaces/asset/get-account-units-value.md
  docs/interfaces/asset/get-amortizing-rates.md
  docs/interfaces/asset/get-asset-info.md
  docs/interfaces/asset/get-asset-metadata.md
  docs/interfaces/asset/get-coupon-rates.md
  docs/interfaces/asset/get-coupon-status.md
  docs/interfaces/asset/get-early-repayment-schedule.md
  docs/interfaces/asset/get-payment-amount.md
  docs/interfaces/asset/get-secondary-market-schedule.md
  docs/interfaces/asset/get-time-events.md
  docs/interfaces/asset/get-time-periods.md
  docs/interfaces/asset/primary-distribution.md
  docs/interfaces/asset/set-amortizing-rates.md
  docs/interfaces/asset/set-early-repayment-option.md
  docs/interfaces/asset/set-metadata.md
  docs/interfaces/asset/set-secondary-time-events.md
  docs/interfaces/asset/set-variable-interest-rate.md
  docs/interfaces/asset/update-coupon-rates.md
  docs/interfaces/asset/update-global-unit-value.md
  docs/interfaces/asset/update-interest-rate.md
  docs/interfaces/asset/update-time-events.md
  docs/interfaces/asset/update-time-periods.md
  docs/interfaces/asset/update-total-units.md
Due: mdbook-test

docs: reorg project structure
  docs/CONTRIBUTIONS.md
Due: mdbook-test

chore: common config
  smart_contracts/actus/pbn.py
  smart_contracts/config.py
  smart_contracts/fixed_coupon_bond/config.py
  smart_contracts/modules/core_financial/common.py
  smart_contracts/modules/core_financial/coupon.py
  smart_contracts/perpetual_bond/config.py
  smart_contracts/zero_coupon_bond/config.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.teal
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
Due: ruff

chore: common config
  tests/fixed_coupon_bond/test_asset_config.py
  tests/fixed_coupon_bond/test_asset_transfer.py
  tests/perpetual_bond/test_asset_config.py
  tests/zero_coupon_bond/test_asset_config.py
Due: ruff

chore: remove base_d_asa
  tests/utils.py
Due: ruff

chore: lint
  smart_contracts/actus/pbn.py
  smart_contracts/modules/core_financial/common.py
  smart_contracts/modules/core_financial/coupon.py
Due: ruff

chore: use common config
  tests/fixed_coupon_bond/test_asset_config.py
  tests/fixed_coupon_bond/test_asset_transfer.py
  tests/fixed_coupon_bond/test_get_account_units_current_value.py
  tests/fixed_coupon_bond/test_get_coupon_status.py
  tests/fixed_coupon_bond/test_get_payment_amount.py
  tests/fixed_coupon_bond/test_pay_coupon.py
  tests/fixed_coupon_bond/test_sub_all_due_coupons_paid.py
  tests/fixed_coupon_bond/test_sub_count_due_coupons.py
  tests/fixed_coupon_bond/test_sub_next_coupon_due_date.py
  tests/perpetual_bond/test_asset_config.py
  tests/zero_coupon_bond/test_asset_config.py
Due: ruff

chore: lint
  tests/utils.py
Due: ruff

chore: use common config
  tests/fixed_coupon_bond/conftest.py
Due: ruff

docs: nit
  docs/interfaces/rbac/rotate-arranger.md
Due: mdbook-test

docs: nit
  docs/interfaces/account/update-payment-address.md
Due: mdbook-test

chore: fix docstring
  smart_contracts/modules/transfer_agent/coupon.py
  smart_contracts/modules/transfer_agent/no_coupon.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.puya.map
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.teal
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.arc56.json
  smart_contracts/artifacts/fixed_coupon_bond/fixed_coupon_bond_client.py
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.teal
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.puya.map
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.teal
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.arc56.json
  smart_contracts/artifacts/zero_coupon_bond/zero_coupon_bond_client.py
Due: ruff

chore: fix MRO
  smart_contracts/actus/pam.py
  smart_contracts/actus/pbn.py
Due: ruff

chore: nit
  smart_contracts/modules/rbac.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.puya.map
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.teal
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.arc56.json
  smart_contracts/artifacts/fixed_coupon_bond/fixed_coupon_bond_client.py
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.approval.teal
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.arc56.json
  smart_contracts/artifacts/mock_module_accounting/mock_accounting_module_client.py
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.teal
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.arc56.json
  smart_contracts/artifacts/mock_module_rbac/mock_rbac_module_client.py
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.teal
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.puya.map
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.teal
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.arc56.json
  smart_contracts/artifacts/zero_coupon_bond/zero_coupon_bond_client.py
Due: ruff

chore: move set default status from rbac to asset
  docs/SUMMARY.md
  docs/interfaces/asset/set-default-status.md
  smart_contracts/modules/core_financial/common.py
  smart_contracts/modules/rbac.py
Due: ruff, mdbook-test

chore: build artifacts
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.puya.map
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.teal
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.arc56.json
  smart_contracts/artifacts/fixed_coupon_bond/fixed_coupon_bond_client.py
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.approval.puya.map
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.approval.teal
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.arc56.json
  smart_contracts/artifacts/mock_module_accounting/mock_accounting_module_client.py
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.puya.map
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.teal
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.arc56.json
  smart_contracts/artifacts/mock_module_rbac/mock_rbac_module_client.py
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.teal
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.puya.map
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.teal
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.arc56.json
  smart_contracts/artifacts/zero_coupon_bond/zero_coupon_bond_client.py
Due: ruff

chore: rename asset -> contract
  docs/CONTRIBUTIONS.md
  docs/SUMMARY.md
  docs/interfaces/contract/config.md
  docs/interfaces/contract/get-account-units-current-value.md
  docs/interfaces/contract/get-account-units-value.md
  docs/interfaces/contract/get-amortizing-rates.md
  docs/interfaces/contract/get-asset-info.md
  docs/interfaces/contract/get-asset-metadata.md
  docs/interfaces/contract/get-coupon-rates.md
  docs/interfaces/contract/get-coupon-status.md
  docs/interfaces/contract/get-early-repayment-schedule.md
  docs/interfaces/contract/get-payment-amount.md
  docs/interfaces/contract/get-secondary-market-schedule.md
  docs/interfaces/contract/get-time-events.md
  docs/interfaces/contract/get-time-periods.md
  docs/interfaces/contract/primary-distribution.md
  docs/interfaces/contract/set-amortizing-rates.md
  docs/interfaces/contract/set-default-status.md
  docs/interfaces/contract/set-early-repayment-option.md
  docs/interfaces/contract/set-metadata.md
  docs/interfaces/contract/set-secondary-time-events.md
  docs/interfaces/contract/set-variable-interest-rate.md
  docs/interfaces/contract/update-coupon-rates.md
  docs/interfaces/contract/update-global-unit-value.md
  docs/interfaces/contract/update-interest-rate.md
  docs/interfaces/contract/update-time-events.md
  docs/interfaces/contract/update-time-periods.md
  docs/interfaces/contract/update-total-units.md
Due: mdbook-test

chore: typo
  docs/implementation/reference-implementation.md
Due: mdbook-test

chore: move tests in core financial
  tests/shared/test_set_default_status.py
Due: ruff

Path conditions:
  ruff: any of: ^(smart_contracts|tests)/ and \.py$
  mdbook-test: any of: \.(md|markdown|mdown)$
