Repository cusma/d-asa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

.pre-commit-config.yaml:

repos:
  # AlgoKit
  - repo: local
    hooks:
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff
        language: system
        minimum_pre_commit_version: '0'
        require_serial: false
        types: [ python ]
        args: [ "check", "--fix" ]
        additional_dependencies: [ ]
        files: '^(smart_contracts|tests)/'

      - id: mypy
        name: mypy
        description: '`mypy` will check Python types for correctness'
        entry: poetry run mypy
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
        additional_dependencies: [ ]
        files: '^(smart_contracts|tests)/'

      # # Uncomment to enable TEAL static analysis using Tealer package
      # - id: tealer
      #   name: tealer
      #   description: "Run AlgoKit `Tealer` for TEAL static analysis"
      #   entry: algokit
      #   language: system
      #   args: [project, run, "audit-teal"]
      #   require_serial: false
      #   additional_dependencies: []
      #   minimum_pre_commit_version: "0"
      #   files: '^.*\.teal$'

  # Docs
  - repo: local
    hooks:
      - id: mdbook-build
        name: mdbook build
        description: "Builds mdBook."
        entry: mdbook build
        language: rust
        minimum_pre_commit_version: 3.2.0
        additional_dependencies: [ ]
        pass_filenames: false

      - id: mdbook-test
        name: mdbook test
        description: "Checks mdBook pass tests."
        entry: mdbook test
        language: rust
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown/Commonmark files."
        entry: markdownlint
        language: node
        minimum_pre_commit_version: 0.15.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: "Trims trailing whitespace."
        entry: trailing-whitespace-fixer
        language: python
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

chore: build artifacts
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.puya.map
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.teal
  smart_contracts/artifacts/base_d_asa/BaseDAsa.arc56.json
  smart_contracts/artifacts/base_d_asa/base_d_asa_client.py
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.puya.map
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.teal
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.arc56.json
  smart_contracts/artifacts/fixed_coupon_bond/fixed_coupon_bond_client.py
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.teal
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.puya.map
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.teal
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.arc56.json
  smart_contracts/artifacts/zero_coupon_bond/zero_coupon_bond_client.py
Due: ruff

test: use native-encoded addresses from global state
  tests/base_d_asa/test_asset_create.py
  tests/fixed_coupon_bond/test_asset_create.py
  tests/perpetual_bond/test_asset_create.py
  tests/zero_coupon_bond/test_asset_create.py
Due: ruff

chore: enable mdbook features
  book.toml
Due: none

docs: add styles
  docs/.include/styles.md
Due: mdbook-test

chore: update paths
  docs/SUMMARY.md
Due: mdbook-test

chore: move to hidden subfolder
  docs/.include/interface.asset-config.json
  docs/.include/interface.asset-transfer.json
  docs/.include/interface.assign-role.json
  docs/.include/interface.close-account.json
  docs/.include/interface.early-repayment.json
  docs/.include/interface.get-account-info.json
  docs/.include/interface.get-account-units-current-value.json
  docs/.include/interface.get-account-units-value.json
  docs/.include/interface.get-amortizing-rates.json
  docs/.include/interface.get-asset-info.json
  docs/.include/interface.get-asset-metadata.json
  docs/.include/interface.get-coupon-rates.json
  docs/.include/interface.get-coupon-status.json
  docs/.include/interface.get-early-repayment-schedule.json
  docs/.include/interface.get-payment-amount.json
  docs/.include/interface.get-role-config.json
  docs/.include/interface.get-roles.json
  docs/.include/interface.get-secondary-market-schedule.json
  docs/.include/interface.get-time-events.json
  docs/.include/interface.get-time-periods.json
  docs/.include/interface.open-account.json
  docs/.include/interface.pay-coupon.json
  docs/.include/interface.pay-principal.json
  docs/.include/interface.primary-distribution.json
  docs/.include/interface.revoke-role.json
  docs/.include/interface.set-account-suspension-status.json
  docs/.include/interface.set-amortizing-rates.json
  docs/.include/interface.set-asset-metadata.json
  docs/.include/interface.set-asset-suspension-status.json
  docs/.include/interface.set-default-status.json
  docs/.include/interface.set-early-repayment-option.json
  docs/.include/interface.set-secondary-time-events.json
  docs/.include/interface.set-variable-interest-rate.json
  docs/.include/interface.update-coupon-rates.json
  docs/.include/interface.update-global-unit-value.json
  docs/.include/interface.update-interest-rate.json
  docs/.include/interface.update-time-events.json
  docs/.include/interface.update-time-periods.json
  docs/.include/interface.update-total-units.json
Due: none

chore: update include paths
  docs/day-count-convention.md
  docs/definitions.md
  docs/early-repayment.md
  docs/interests.md
  docs/performance.md
  docs/primary-market.md
  docs/principal-repayment.md
  docs/principal.md
  docs/roles.md
  docs/time-events.md
  docs/time-periods.md
  docs/units.md
  docs/variable-interests.md
  docs/variable-time-schedule.md
Due: mdbook-test

chore: ignore lint rules
  .markdownlint.json
  .markdownlintignore
Due: none

docs: add contribution guidelines
  docs/contributors.md
  docs/d-asa.md
Due: mdbook-test

chore: nit
  poetry.toml
Due: none

build: artifacts
  smart_contracts/artifacts/base_d_asa/BaseDAsa.arc56.json
  smart_contracts/artifacts/base_d_asa/base_d_asa_client.py
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.arc56.json
  smart_contracts/artifacts/fixed_coupon_bond/fixed_coupon_bond_client.py
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.arc56.json
  smart_contracts/artifacts/zero_coupon_bond/zero_coupon_bond_client.py
Due: ruff

chore: bump dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: build artifacts
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.puya.map
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.teal
  smart_contracts/artifacts/base_d_asa/BaseDAsa.arc56.json
  smart_contracts/artifacts/base_d_asa/BaseDAsa.clear.teal
  smart_contracts/artifacts/base_d_asa/base_d_asa_client.py
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.puya.map
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.teal
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.arc56.json
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.clear.teal
  smart_contracts/artifacts/fixed_coupon_bond/fixed_coupon_bond_client.py
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.teal
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.clear.teal
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.puya.map
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.teal
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.arc56.json
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.clear.teal
  smart_contracts/artifacts/zero_coupon_bond/zero_coupon_bond_client.py
Due: ruff

chore: lint
  smart_contracts/fixed_coupon_bond/deploy_config.py
  smart_contracts/perpetual_bond/deploy_config.py
  smart_contracts/zero_coupon_bond/deploy_config.py
  tests/base_d_asa/conftest.py
  tests/base_d_asa/test_primary_distribution.py
  tests/fixed_coupon_bond/conftest.py
  tests/fixed_coupon_bond/test_asset_transfer.py
  tests/fixed_coupon_bond/test_get_account_units_current_value.py
  tests/fixed_coupon_bond/test_get_coupon_status.py
  tests/fixed_coupon_bond/test_get_payment_amount.py
  tests/fixed_coupon_bond/test_pay_coupon.py
  tests/fixed_coupon_bond/test_pay_principal.py
  tests/perpetual_bond/conftest.py
  tests/perpetual_bond/test_get_account_units_current_value.py
  tests/perpetual_bond/test_get_coupon_status.py
  tests/perpetual_bond/test_get_payment_amount.py
  tests/perpetual_bond/test_pay_coupon.py
  tests/perpetual_bond/test_update_interest_rate.py
  tests/utils.py
  tests/zero_coupon_bond/conftest.py
  tests/zero_coupon_bond/test_asset_transfer.py
  tests/zero_coupon_bond/test_get_account_units_current_value.py
  tests/zero_coupon_bond/test_get_payment_amount.py
  tests/zero_coupon_bond/test_pay_principal.py
Due: ruff

chore: lock dependencies
  poetry.lock
Due: none

release: v0.5.0
  pyproject.toml
Due: none

chore: lock dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: bump hooks version
  .pre-commit-config.yaml
Due: none

chore: remove deprecated field
  book.toml
Due: none

chore: build artifacts
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.puya.map
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.teal
  smart_contracts/artifacts/base_d_asa/BaseDAsa.arc56.json
  smart_contracts/artifacts/base_d_asa/BaseDAsa.clear.puya.map
  smart_contracts/artifacts/base_d_asa/BaseDAsa.clear.teal
  smart_contracts/artifacts/base_d_asa/base_d_asa_client.py
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.puya.map
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.teal
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.arc56.json
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.clear.puya.map
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.clear.teal
  smart_contracts/artifacts/fixed_coupon_bond/fixed_coupon_bond_client.py
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.teal
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.clear.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.clear.teal
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.puya.map
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.teal
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.arc56.json
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.clear.puya.map
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.clear.teal
  smart_contracts/artifacts/zero_coupon_bond/zero_coupon_bond_client.py
Due: ruff

chore: lint
  docs/day-count-convention.md
  docs/definitions.md
  docs/interests.md
  docs/methods/interface-asset-config.md
  docs/secondary-market.md
Due: mdbook-test

chore: python 3.13; bump dependencies
  pyproject.toml
Due: none

chore: python 3.13; bump actions
  .github/actions/algokit-setup/action.yaml
Due: none

chore: python 3.13
  .github/workflows/d-asa-cd.yaml
Due: none

chore: native types
  smart_contracts/abi_types.py
Due: ruff

chore: deprecate subroutine decorator; native types
  smart_contracts/base_d_asa/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.puya.map
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.teal
  smart_contracts/artifacts/base_d_asa/BaseDAsa.arc56.json
  smart_contracts/artifacts/base_d_asa/base_d_asa_client.py
Due: ruff

chore: deprecate subroutine decorator; native types
  smart_contracts/zero_coupon_bond/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.puya.map
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.teal
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.arc56.json
  smart_contracts/artifacts/zero_coupon_bond/zero_coupon_bond_client.py
Due: ruff

chore: no multiple returns for consistency
  smart_contracts/base_d_asa/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.puya.map
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.teal
  smart_contracts/artifacts/base_d_asa/BaseDAsa.arc56.json
  smart_contracts/artifacts/base_d_asa/base_d_asa_client.py
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.puya.map
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.teal
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.arc56.json
  smart_contracts/artifacts/zero_coupon_bond/zero_coupon_bond_client.py
Due: ruff

chore: deprecate subroutine decorator; native types
  smart_contracts/fixed_coupon_bond/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.puya.map
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.teal
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.arc56.json
  smart_contracts/artifacts/fixed_coupon_bond/fixed_coupon_bond_client.py
Due: ruff

chore: deprecate subroutine decorator; native types
  smart_contracts/perpetual_bond/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.teal
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
Due: ruff

chore: lint
  smart_contracts/perpetual_bond/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.puya.map
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.teal
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.arc56.json
  smart_contracts/artifacts/fixed_coupon_bond/fixed_coupon_bond_client.py
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.teal
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
Due: ruff

chore: kwargs on abimethods
  smart_contracts/fixed_coupon_bond/contract.py
Due: ruff
