Repository cusma/d-asa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

ruff:
  name: ruff
  description: Run 'ruff' for extremely fast Python linting
  entry: poetry run ruff
  language: system
  minimum_pre_commit_version: '0'
  require_serial: false
  args:
  - check
  - --fix
  additional_dependencies: []

mdbook-test:
  name: mdbook test
  description: Checks mdBook pass tests.
  entry: mdbook test
  language: rust
  minimum_pre_commit_version: 3.2.0
  additional_dependencies: []
  pass_filenames: false

chore: build artifacts
  smart_contracts/artifacts/d_asa/DASA.approval.puya.map
  smart_contracts/artifacts/d_asa/DASA.approval.teal
  src/artifacts/DASA.arc56.json
  src/artifacts/dasa_client.py
Due: none

docs: set default status
  docs/implementation/architecture.md
  docs/interfaces/contract/overview.md
  docs/interfaces/types.md
  docs/specs/contract/attributes.md
  docs/specs/contract/kernel-state-and-schedule.md
  docs/specs/contract/normalization-and-configuration.md
  docs/specs/rbac/rbac.md
  docs/specs/rbac/roles.md
Due: mdbook-test

chore: lint
  docs/specs/contract/actus-compliance-profile.md
Due: mdbook-test

chore: spare state schema
  smart_contracts/config.py
Due: ruff

chore: move contract defaulted to rbac module
  modules/actus_kernel.py
  modules/rbac.py
Due: none

chore: build artifacts
  smart_contracts/artifacts/d_asa/DASA.approval.puya.map
  smart_contracts/artifacts/d_asa/DASA.approval.teal
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.puya.map
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.teal
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.arc56.json
  smart_contracts/artifacts/mock_module_rbac/mock_rbac_module_client.py
  src/artifacts/DASA.arc56.json
  src/artifacts/dasa_client.py
Due: ruff

chore: rename
  tests/mock_module_rbac/test_mock_rbac_module.py
Due: ruff

docs: update with default in rbac module
  docs/implementation/architecture.md
  docs/interfaces/contract/overview.md
  docs/interfaces/rbac/overview.md
  docs/interfaces/types.md
  docs/specs/contract/attributes.md
  docs/specs/contract/kernel-state-and-schedule.md
  docs/specs/contract/normalization-and-configuration.md
  docs/specs/rbac/rbac.md
  docs/specs/rbac/roles.md
Due: mdbook-test

chore: lint
  docs/implementation/architecture.md
  docs/specs/contract/attributes.md
Due: mdbook-test

chore: nit
  docs/specs/rbac/roles.md
Due: mdbook-test

chore: rename subs
  modules/accounting.py
  modules/actus_kernel.py
  modules/payment_agent.py
  modules/rbac.py
  modules/transfer_agent.py
Due: none

test: rbac contract default
  tests/mock_module_rbac/test_mock_rbac_module.py
Due: ruff

chore: nit
  tests/mock_module_rbac/test_mock_rbac_module.py
Due: ruff

chore: get tx id
  tests/utils.py
Due: ruff

test: e2e showcase test
  tests/pam/pam_test_support.py
  tests/pam/test_pam_lifecycle_showcase.py
Due: ruff

docs: e2e showcase test
  README.md
  docs/implementation/tests.md
Due: mdbook-test

chore: mark showcase tests
  .algokit.toml
  README.md
  docs/implementation/tests.md
  pyproject.toml
  tests/pam/test_pam_lifecycle_showcase.py
Due: ruff, mdbook-test

chore: add docker
  .dockerignore
  Dockerfile
Due: none

feat: localnet showcase
  src/localnet.py
  src/pam_lifecycle.py
  src/showcase.py
Due: none

test: localnet showcase
  tests/sdk/test_localnet.py
Due: ruff

test: localnet showcase
  tests/pam/test_pam_lifecycle_showcase.py
Due: ruff

test: localnet showcase
  tests/pam/pam_test_support.py
  tests/utils.py
Due: ruff

feat: d-asa script
  d-asa
Due: none

docs: demo
  README.md
Due: mdbook-test

chore: include root md files
  .pre-commit-config.yaml
Due: none

docs: contributions
  CONTRIBUTING.md
  docs/CONTRIBUTIONS.md
Due: mdbook-test

chore: makefile
  Makefile
  README.md
Due: mdbook-test

chore: use host algokit
  Dockerfile
  README.md
  d-asa
Due: mdbook-test

chore: format
  docs/specs/contract/intro.md
  docs/specs/contract/kernel-state-and-schedule.md
  docs/specs/overview.md
Due: mdbook-test

chore: include contributions
  .markdownlintignore
  docs/CONTRIBUTIONS.md
Due: mdbook-test

chore: wait for kmd and algod
  src/localnet.py
  tests/sdk/test_localnet.py
Due: ruff

chore: override host
  src/showcase.py
Due: none

chore: nit
  src/__init__.py
Due: none

chore: clean mdbook artifacts and run docs pre-commit
  CONTRIBUTING.md
  Makefile
Due: mdbook-test

chore: nit
  README.md
  docs/COVER.md
Due: mdbook-test

chore: nit
  README.md
Due: mdbook-test

feat: d-asa sdk
  src/_dasa_mappers.py
  src/dasa.py
Due: none

Path conditions:
  ruff: any of: ^(smart_contracts|tests)/ and \.py$
  mdbook-test: any of: \.(md|markdown|mdown)$
