Repository cusma/d-asa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

.pre-commit-config.yaml:

repos:
  # AlgoKit
  - repo: local
    hooks:
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff
        language: system
        minimum_pre_commit_version: '0'
        require_serial: false
        types: [ python ]
        args: [ "check", "--fix" ]
        additional_dependencies: [ ]
        files: '^(smart_contracts|tests)/'

      - id: mypy
        name: mypy
        description: '`mypy` will check Python types for correctness'
        entry: poetry run mypy
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
        additional_dependencies: [ ]
        files: '^(smart_contracts|tests)/'

      # # Uncomment to enable TEAL static analysis using Tealer package
      # - id: tealer
      #   name: tealer
      #   description: "Run AlgoKit `Tealer` for TEAL static analysis"
      #   entry: algokit
      #   language: system
      #   args: [project, run, "audit-teal"]
      #   require_serial: false
      #   additional_dependencies: []
      #   minimum_pre_commit_version: "0"
      #   files: '^.*\.teal$'

  # Docs
  - repo: local
    hooks:
      - id: mdbook-build
        name: mdbook build
        description: "Builds mdBook."
        entry: mdbook build
        language: rust
        minimum_pre_commit_version: 3.2.0
        additional_dependencies: [ ]
        pass_filenames: false

      - id: mdbook-test
        name: mdbook test
        description: "Checks mdBook pass tests."
        entry: mdbook test
        language: rust
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown/Commonmark files."
        entry: markdownlint
        language: node
        minimum_pre_commit_version: 0.15.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: "Trims trailing whitespace."
        entry: trailing-whitespace-fixer
        language: python
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

test: d-asa sdk
  tests/sdk/test_dasa.py
Due: ruff

docs: d-asa sdk
  CONTRIBUTING.md
  README.md
  docs/SUMMARY.md
  docs/sdk/deploy-and-attach.md
  docs/sdk/dvp.md
  docs/sdk/overview.md
  docs/sdk/roles.md
  docs/sdk/valuation.md
Due: mdbook-test

chore: d-asa sdk export
  src/__init__.py
Due: none

chore: d-asa package
  poetry.lock
  pyproject.toml
Due: none

chore: bump project version
  pyproject.toml
Due: none

chore: fix local path
  docs/sdk/overview.md
Due: mdbook-test

chore: use static event type id
  src/_dasa_mappers.py
Due: none

chore: apply suggestions from code review
  src/dasa.py
Due: none

chore: apply code review suggestions
  src/dasa.py
  tests/sdk/test_dasa.py
Due: ruff

chore: add missing algorand python dependency
  poetry.lock
  pyproject.toml
Due: none

chore: lint
  src/dasa.py
Due: none

feat: d-asa avm client
  smart_contracts/__main__.py
  smart_contracts/artifacts/mock_module_rbac/mock_rbac_module_avm_client.py
  src/artifacts/dasa_avm_client.py
Due: ruff

docs: d-asa avm client
  README.md
  docs/implementation/reference-implementation.md
Due: mdbook-test

test: d-asa avm client
  tests/sdk/test_dasa.py
Due: ruff

docs: jupyter notebooks
  README.md
  examples/README.md
  examples/_support.py
  examples/pam_fixed_coupon_bond.ipynb
  examples/pam_zero_coupon_bond.ipynb
Due: mdbook-test

chore: jupyter dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: clean jupyter artifacts
  Makefile
Due: none

chore: ignore jupyter artifacts
  .gitignore
Due: none

docs: formatting
  docs/sdk/deploy-and-attach.md
  docs/sdk/dvp.md
  docs/sdk/overview.md
  docs/sdk/roles.md
  docs/sdk/valuation.md
Due: mdbook-test

chore: run jupyter lab in docker
  Dockerfile
  Makefile
  README.md
  d-asa
  examples/README.md
Due: mdbook-test

chore: notebook dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: avoid event off by one
  examples/pam_fixed_coupon_bond.ipynb
Due: none

chore: nit
  examples/_support.py
Due: none

chore: nit
  Makefile
Due: none

chore: apply code review
  d-asa
Due: none

chore: canonical package structure
  pyproject.toml
  src/d_asa/__init__.py
  src/d_asa/_dasa_mappers.py
  src/d_asa/artifacts/DASA.arc56.json
  src/d_asa/artifacts/__init__.py
  src/d_asa/artifacts/dasa_avm_client.py
  src/d_asa/artifacts/dasa_client.py
  src/d_asa/constants.py
  src/d_asa/contracts.py
  src/d_asa/dasa.py
  src/d_asa/day_count.py
  src/d_asa/errors.py
  src/d_asa/localnet.py
  src/d_asa/models.py
  src/d_asa/normalization/__init__.py
  src/d_asa/normalization/ann_builder.py
  src/d_asa/normalization/annuity.py
  src/d_asa/normalization/builders.py
  src/d_asa/normalization/calculations.py
  src/d_asa/normalization/conversions.py
  src/d_asa/normalization/core.py
  src/d_asa/normalization/event_seeds.py
  src/d_asa/normalization/schedules.py
  src/d_asa/pam_lifecycle.py
  src/d_asa/py.typed
  src/d_asa/registry.py
  src/d_asa/schedule.py
  src/d_asa/showcase.py
  src/d_asa/unix_time.py
Due: none

chore: update import paths
  examples/_support.py
  examples/pam_fixed_coupon_bond.ipynb
  examples/pam_zero_coupon_bond.ipynb
Due: none

chore: update import paths
  smart_contracts/__main__.py
  smart_contracts/d_asa/deploy_config.py
  tests/conftest.py
  tests/conftest_helpers.py
  tests/pam/conftest.py
  tests/pam/fcb/test_pam_fixed_coupon_bond.py
  tests/pam/pam_test_support.py
  tests/pam/test_pam_lifecycle_showcase.py
  tests/pam/zcb/test_pam_zero_coupon_bond.py
  tests/sdk/test_contracts.py
  tests/sdk/test_dasa.py
  tests/sdk/test_day_count.py
  tests/sdk/test_localnet.py
  tests/sdk/test_models.py
  tests/sdk/test_normalization.py
  tests/sdk/test_registry.py
  tests/sdk/test_schedule.py
  tests/sdk/test_unix_time.py
  tests/utils.py
Due: ruff

chore: update import paths
  .algokit.toml
  Makefile
  README.md
  d-asa
  docs/implementation/reference-implementation.md
  docs/sdk/deploy-and-attach.md
  docs/sdk/overview.md
  docs/sdk/valuation.md
Due: mdbook-test

chore: copy contract enums
  src/d_asa/enums.py
Due: none

chore: lock dependencies
  poetry.lock
Due: none

chore: lint
  examples/pam_fixed_coupon_bond.ipynb
  examples/pam_zero_coupon_bond.ipynb
  smart_contracts/d_asa/deploy_config.py
  tests/pam/fcb/test_pam_fixed_coupon_bond.py
  tests/pam/pam_test_support.py
  tests/pam/zcb/test_pam_zero_coupon_bond.py
  tests/sdk/test_dasa.py
  tests/sdk/test_normalization.py
  tests/sdk/test_registry.py
Due: ruff

chore: src root
  examples/_support.py
  examples/pam_fixed_coupon_bond.ipynb
  examples/pam_zero_coupon_bond.ipynb
  smart_contracts/d_asa/deploy_config.py
  src/d_asa/__init__.py
  tests/conftest.py
  tests/conftest_helpers.py
  tests/pam/conftest.py
  tests/pam/fcb/test_pam_fixed_coupon_bond.py
  tests/pam/pam_test_support.py
  tests/pam/test_pam_lifecycle_showcase.py
  tests/pam/zcb/test_pam_zero_coupon_bond.py
  tests/sdk/test_contracts.py
  tests/sdk/test_dasa.py
  tests/sdk/test_day_count.py
  tests/sdk/test_localnet.py
  tests/sdk/test_models.py
  tests/sdk/test_normalization.py
  tests/sdk/test_registry.py
  tests/sdk/test_schedule.py
  tests/sdk/test_unix_time.py
  tests/utils.py
Due: ruff

chore: py typed
  pyproject.toml
Due: none

chore: nit
  src/d_asa/enums.py
Due: none

chore: nit
  pyproject.toml
Due: none

fix: deploy script
  smart_contracts/__main__.py
Due: ruff

chore: booh
  mermaid-init.js
  mermaid.min.js
  smart_contracts/d_asa/deploy_config.py
Due: ruff

chore: booh
  mermaid-init.js
  mermaid.min.js
Due: none

chore: testnet
  smart_contracts/d_asa/deploy_config.py
Due: ruff
