Repository cusma/d-asa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

.pre-commit-config.yaml:

repos:
  # AlgoKit
  - repo: local
    hooks:
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff
        language: system
        minimum_pre_commit_version: '0'
        require_serial: false
        types: [ python ]
        args: [ "check", "--fix" ]
        additional_dependencies: [ ]
        files: '^(smart_contracts|tests)/'

      - id: mypy
        name: mypy
        description: '`mypy` will check Python types for correctness'
        entry: poetry run mypy
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
        additional_dependencies: [ ]
        files: '^(smart_contracts|tests)/'

      # # Uncomment to enable TEAL static analysis using Tealer package
      # - id: tealer
      #   name: tealer
      #   description: "Run AlgoKit `Tealer` for TEAL static analysis"
      #   entry: algokit
      #   language: system
      #   args: [project, run, "audit-teal"]
      #   require_serial: false
      #   additional_dependencies: []
      #   minimum_pre_commit_version: "0"
      #   files: '^.*\.teal$'

  # Docs
  - repo: local
    hooks:
      - id: mdbook-build
        name: mdbook build
        description: "Builds mdBook."
        entry: mdbook build
        language: rust
        minimum_pre_commit_version: 3.2.0
        additional_dependencies: [ ]
        pass_filenames: false

      - id: mdbook-test
        name: mdbook test
        description: "Checks mdBook pass tests."
        entry: mdbook test
        language: rust
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown/Commonmark files."
        entry: markdownlint
        language: node
        minimum_pre_commit_version: 0.15.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: "Trims trailing whitespace."
        entry: trailing-whitespace-fixer
        language: python
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

chore: build artifacts
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.puya.map
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.teal
  smart_contracts/artifacts/base_d_asa/BaseDAsa.arc56.json
  smart_contracts/artifacts/base_d_asa/base_d_asa_client.py
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.puya.map
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.teal
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.arc56.json
  smart_contracts/artifacts/fixed_coupon_bond/fixed_coupon_bond_client.py
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.teal
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.puya.map
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.teal
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.arc56.json
  smart_contracts/artifacts/zero_coupon_bond/zero_coupon_bond_client.py
Due: ruff

docs: accounting
  docs/SUMMARY.md
  docs/getters/interface-get-account-info.md
  docs/interfaces/account/close.md
  docs/interfaces/account/get-info.md
  docs/interfaces/account/open.md
  docs/interfaces/account/suspension.md
  docs/methods/interface-close-account.md
  docs/methods/interface-open-account.md
  docs/methods/interface-set-account-suspension-status.md
Due: mdbook-test

ci: add accounting module
  .github/workflows/d-asa-ci.yaml
Due: none

chore: use accounting
  tests/base_d_asa/conftest.py
  tests/fixed_coupon_bond/conftest.py
  tests/fixed_coupon_bond/test_pay_principal.py
  tests/perpetual_bond/conftest.py
  tests/utils.py
  tests/zero_coupon_bond/conftest.py
  tests/zero_coupon_bond/test_pay_principal.py
Due: ruff

chore: enums
  tests/base_d_asa/test_asset_config.py
  tests/base_d_asa/test_asset_create.py
  tests/fixed_coupon_bond/test_asset_config.py
  tests/fixed_coupon_bond/test_asset_create.py
  tests/perpetual_bond/test_asset_config.py
  tests/perpetual_bond/test_asset_create.py
  tests/zero_coupon_bond/test_asset_config.py
  tests/zero_coupon_bond/test_asset_create.py
Due: ruff

chore: enums
  smart_contracts/base_d_asa/contract.py
Due: ruff

chore: mock accounting module for unit tests
  smart_contracts/mock_module_accounting/contract.py
Due: ruff

test: accounting module (wip)
  tests/module_accounting/conftest.py
  tests/module_accounting/test_account_close.py
  tests/module_accounting/test_account_get_info.py
  tests/module_accounting/test_account_gov_suspension.py
  tests/module_accounting/test_account_open.py
Due: ruff

test: accounting module (wip)
  tests/module_accounting/__init__.py
Due: ruff

chore: unused fixture
  tests/rbac_module/conftest.py
Due: ruff

chore: todo
  tests/rbac_module/test_rbac_rotate_arranger.py
Due: ruff

chore: rename asset suspension method
  smart_contracts/modules/rbac.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.puya.map
  smart_contracts/artifacts/base_d_asa/BaseDAsa.approval.teal
  smart_contracts/artifacts/base_d_asa/BaseDAsa.arc56.json
  smart_contracts/artifacts/base_d_asa/base_d_asa_client.py
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.puya.map
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.approval.teal
  smart_contracts/artifacts/fixed_coupon_bond/FixedCouponBond.arc56.json
  smart_contracts/artifacts/fixed_coupon_bond/fixed_coupon_bond_client.py
  smart_contracts/artifacts/mock_rbac_module/MockRbacModule.approval.puya.map
  smart_contracts/artifacts/mock_rbac_module/MockRbacModule.approval.teal
  smart_contracts/artifacts/mock_rbac_module/MockRbacModule.arc56.json
  smart_contracts/artifacts/mock_rbac_module/mock_rbac_module_client.py
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.puya.map
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.approval.teal
  smart_contracts/artifacts/perpetual_bond/PerpetualBond.arc56.json
  smart_contracts/artifacts/perpetual_bond/perpetual_bond_client.py
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.puya.map
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.approval.teal
  smart_contracts/artifacts/zero_coupon_bond/ZeroCouponBond.arc56.json
  smart_contracts/artifacts/zero_coupon_bond/zero_coupon_bond_client.py
Due: ruff

chore: rename test module
  smart_contracts/mock_module_rbac/contract.py
  tests/module_rbac/__init__.py
  tests/module_rbac/conftest.py
  tests/module_rbac/test_policy_set_asset_suspension.py
  tests/module_rbac/test_rbac_assign_role.py
  tests/module_rbac/test_rbac_get_address_role.py
  tests/module_rbac/test_rbac_get_arranger.py
  tests/module_rbac/test_rbac_get_role_config.py
  tests/module_rbac/test_rbac_revoke_role.py
  tests/module_rbac/test_rbac_rotate_arranger.py
  tests/module_rbac/test_set_default_status.py
Due: ruff

chore: rename test module
  .github/workflows/d-asa-ci.yaml
Due: none

chore: rename method
  docs/SUMMARY.md
  docs/interfaces/account/gov-suspension.md
  docs/interfaces/rbac/gov-asset-suspension.md
  tests/base_d_asa/conftest.py
  tests/base_d_asa/test_primary_distribution.py
  tests/fixed_coupon_bond/conftest.py
  tests/module_accounting/conftest.py
  tests/module_accounting/test_account_open.py
  tests/perpetual_bond/conftest.py
  tests/zero_coupon_bond/conftest.py
Due: ruff, mdbook-test

chore: mock artifacts
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.approval.puya.map
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.approval.teal
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.arc56.json
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.clear.puya.map
  smart_contracts/artifacts/mock_module_accounting/MockAccountingModule.clear.teal
  smart_contracts/artifacts/mock_module_accounting/mock_accounting_module_client.py
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.puya.map
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.teal
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.arc56.json
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.clear.puya.map
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.clear.teal
  smart_contracts/artifacts/mock_module_rbac/mock_rbac_module_client.py
Due: ruff

chore: reorg docs structure and folder
  docs/COVER.md
  docs/LICENSE.md
  docs/SUMMARY.md
  docs/specs/accounting/units.md
  docs/specs/contract/day-count-convention.md
  docs/specs/contract/denomination.md
  docs/specs/contract/early-repayment-options.md
  docs/specs/contract/interests.md
  docs/specs/contract/intro.md
  docs/specs/contract/metadata.md
  docs/specs/contract/performance.md
  docs/specs/contract/principal.md
  docs/specs/contract/time-events.md
  docs/specs/contract/time-periods.md
  docs/specs/contract/time-schedule.md
  docs/specs/contract/type.md
  docs/specs/contract/variable-interests.md
  docs/specs/contract/variable-time-schedule.md
  docs/specs/definitions.md
  docs/specs/execution/payment-agent/coupons-payment.md
  docs/specs/execution/payment-agent/early-repayment.md
  docs/specs/execution/payment-agent/payment-agent.md
  docs/specs/execution/payment-agent/principal-repayment.md
  docs/specs/execution/payment-agent/settlement.md
  docs/specs/execution/primary-market.md
  docs/specs/execution/secondary-market.md
  docs/specs/execution/transfer-agent.md
  docs/specs/overview.md
  docs/specs/rbac/rbac.md
  docs/specs/rbac/roles.md
Due: mdbook-test

chore: rename include folder
  docs/_include/styles.md
Due: mdbook-test

chore: fix include path
  docs/contributors.md
  docs/getters/interface-get-payment-amount.md
  docs/specs/accounting/units.md
  docs/specs/contract/day-count-convention.md
  docs/specs/contract/interests.md
  docs/specs/contract/performance.md
  docs/specs/contract/principal.md
  docs/specs/contract/time-events.md
  docs/specs/contract/time-periods.md
  docs/specs/contract/variable-interests.md
  docs/specs/contract/variable-time-schedule.md
  docs/specs/definitions.md
  docs/specs/execution/payment-agent/early-repayment.md
  docs/specs/execution/payment-agent/principal-repayment.md
  docs/specs/execution/primary-market.md
  docs/specs/rbac/roles.md
Due: mdbook-test

chore: update paths
  docs/COVER.md
Due: mdbook-test

chore: reorg docs folder
  docs/CONTRIBUTIONS.md
  docs/READING-GUIDELINES.md
  docs/implementation/ref-fixed-coupon-bond.md
  docs/implementation/ref-perpetual-bond.md
  docs/implementation/ref-zero-coupon-bond.md
  docs/implementation/reference-implementation-tests.md
  docs/implementation/reference-implementation.md
Due: mdbook-test

chore: fix typos
  docs/specs/contract/denomination.md
  docs/specs/contract/time-events.md
  docs/specs/contract/time-periods.md
  docs/specs/execution/payment-agent/settlement.md
Due: mdbook-test

chore: fix types
  docs/specs/contract/interests.md
  docs/specs/contract/principal.md
Due: mdbook-test

chore: formatting
  docs/specs/contract/day-count-convention.md
Due: mdbook-test

chore: reorg summary
  docs/SUMMARY.md
Due: mdbook-test

chore: lint markdown
  docs/implementation/reference-implementation.md
  docs/specs/contract/early-repayment-options.md
  docs/specs/execution/payment-agent/principal-repayment.md
Due: mdbook-test

chore: update mdbook
  .github/workflows/docs-cd.yaml
Due: none

chore: fix path
  docs/READING-GUIDELINES.md
Due: mdbook-test

chore: use native admonitions
  docs/_include/styles.md
Due: mdbook-test

chore: conftest helpers
  tests/conftest_helpers.py
Due: ruff

chore: use conftest helpers
  tests/base_d_asa/conftest.py
  tests/fixed_coupon_bond/conftest.py
  tests/module_accounting/conftest.py
  tests/module_rbac/conftest.py
  tests/perpetual_bond/conftest.py
  tests/zero_coupon_bond/conftest.py
Due: ruff

docs: fix abi types
  docs/interfaces/rbac/assign-role.md
  docs/interfaces/rbac/get-role-config.md
Due: mdbook-test

docs: fix method names
  docs/specs/contract/early-repayment-options.md
  docs/specs/contract/variable-interests.md
  docs/specs/rbac/rbac.md
  docs/specs/rbac/roles.md
Due: mdbook-test

docs: define minor unit scaling
  docs/specs/contract/denomination.md
  docs/specs/execution/payment-agent/settlement.md
Due: mdbook-test

docs: add missing error codes
  docs/methods/interface-asset-config.md
  docs/methods/interface-pay-coupon.md
Due: mdbook-test

docs: fix typo
  docs/getters/interface-get-account-units-current-value.md
  docs/getters/interface-get-account-units-value.md
  docs/methods/interface-early-repayment.md
  docs/methods/interface-pay-principal.md
Due: mdbook-test

docs: fix type
  docs/methods/interface-set-amortizing-rates.md
  docs/methods/interface-update-coupon-rates.md
Due: mdbook-test

docs: lint
  docs/specs/contract/variable-interests.md
Due: mdbook-test
