Repository cusma/d-asa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

.pre-commit-config.yaml:

repos:
  # AlgoKit
  - repo: local
    hooks:
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff
        language: system
        minimum_pre_commit_version: '0'
        require_serial: false
        types: [ python ]
        args: [ "check", "--fix" ]
        additional_dependencies: [ ]
        files: '^(smart_contracts|tests)/'

      - id: mypy
        name: mypy
        description: '`mypy` will check Python types for correctness'
        entry: poetry run mypy
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
        additional_dependencies: [ ]
        files: '^(smart_contracts|tests)/'

      # # Uncomment to enable TEAL static analysis using Tealer package
      # - id: tealer
      #   name: tealer
      #   description: "Run AlgoKit `Tealer` for TEAL static analysis"
      #   entry: algokit
      #   language: system
      #   args: [project, run, "audit-teal"]
      #   require_serial: false
      #   additional_dependencies: []
      #   minimum_pre_commit_version: "0"
      #   files: '^.*\.teal$'

  # Docs
  - repo: local
    hooks:
      - id: mdbook-build
        name: mdbook build
        description: "Builds mdBook."
        entry: mdbook build
        language: rust
        minimum_pre_commit_version: 3.2.0
        additional_dependencies: [ ]
        pass_filenames: false

      - id: mdbook-test
        name: mdbook test
        description: "Checks mdBook pass tests."
        entry: mdbook test
        language: rust
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown/Commonmark files."
        entry: markdownlint
        language: node
        minimum_pre_commit_version: 0.15.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: "Trims trailing whitespace."
        entry: trailing-whitespace-fixer
        language: python
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

docs: validate time-bounded roles
  docs/interfaces/rbac/overview.md
  docs/specs/rbac/rbac.md
  docs/specs/rbac/roles.md
Due: mdbook-test

feat: validate time-bounded roles
  modules/rbac.py
Due: none

chore: build artifacts
  smart_contracts/artifacts/d_asa/DASA.approval.puya.map
  smart_contracts/artifacts/d_asa/DASA.approval.teal
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.puya.map
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.teal
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.arc56.json
  smart_contracts/artifacts/mock_module_rbac/mock_rbac_module_client.py
  src/d_asa/artifacts/DASA.arc56.json
  src/d_asa/artifacts/dasa_client.py
Due: ruff

feat: sdk time-bounded role validation
  src/d_asa/dasa.py
  tests/mock_module_rbac/test_mock_rbac_module.py
  tests/sdk/test_dasa.py
Due: ruff

chore: apply suggestions from code review
  docs/specs/contract/normalization-and-configuration.md
  modules/transfer_agent.py
  src/d_asa/dasa.py
  src/d_asa/normalization/core.py
Due: mdbook-test

feat: validate ied and md
  modules/actus_kernel.py
Due: none

chore: assert already configured
  modules/transfer_agent.py
Due: none

chore: build artifacts
  smart_contracts/artifacts/d_asa/DASA.approval.puya.map
  smart_contracts/artifacts/d_asa/DASA.approval.teal
  src/d_asa/artifacts/DASA.arc56.json
  src/d_asa/artifacts/dasa_client.py
Due: none

chore: project version 0.21.0
  pyproject.toml
Due: none

chore: update and lock dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: absolute import paths
  modules/accounting.py
  modules/actus_kernel.py
  modules/payment_agent.py
  modules/transfer_agent.py
Due: none

chore: build artifacts
  smart_contracts/artifacts/d_asa/DASA.approval.puya.map
  smart_contracts/artifacts/d_asa/DASA.approval.teal
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.puya.map
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.arc56.json
  src/d_asa/artifacts/DASA.arc56.json
  src/d_asa/artifacts/dasa_client.py
Due: none

chore: update dependencies
  poetry.lock
Due: none

chore: remove pinned transitive deps
  poetry.lock
  pyproject.toml
Due: none
