Repository cusma/d-asa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

.pre-commit-config.yaml:

repos:
  # AlgoKit
  - repo: local
    hooks:
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff
        language: system
        minimum_pre_commit_version: '0'
        require_serial: false
        types: [ python ]
        args: [ "check", "--fix" ]
        additional_dependencies: [ ]
        files: '^(smart_contracts|tests)/'

      - id: mypy
        name: mypy
        description: '`mypy` will check Python types for correctness'
        entry: poetry run mypy
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
        additional_dependencies: [ ]
        files: '^(smart_contracts|tests)/'

      # # Uncomment to enable TEAL static analysis using Tealer package
      # - id: tealer
      #   name: tealer
      #   description: "Run AlgoKit `Tealer` for TEAL static analysis"
      #   entry: algokit
      #   language: system
      #   args: [project, run, "audit-teal"]
      #   require_serial: false
      #   additional_dependencies: []
      #   minimum_pre_commit_version: "0"
      #   files: '^.*\.teal$'

  # Docs
  - repo: local
    hooks:
      - id: mdbook-build
        name: mdbook build
        description: "Builds mdBook."
        entry: mdbook build
        language: rust
        minimum_pre_commit_version: 3.2.0
        additional_dependencies: [ ]
        pass_filenames: false

      - id: mdbook-test
        name: mdbook test
        description: "Checks mdBook pass tests."
        entry: mdbook test
        language: rust
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown/Commonmark files."
        entry: markdownlint
        language: node
        minimum_pre_commit_version: 0.15.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: "Trims trailing whitespace."
        entry: trailing-whitespace-fixer
        language: python
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

chore: init
  src/__init__.py
  tests/pam/__init__.py
Due: ruff

chore: adapt ci
  .github/workflows/d-asa-ci.yaml
Due: none

chore: rename module
  modules/actus_kernel.py
Due: none

chore: build artifacts
  smart_contracts/artifacts/d_asa/DASA.approval.puya.map
  smart_contracts/artifacts/d_asa/DASA.approval.teal
  smart_contracts/artifacts/d_asa/DASA.arc56.json
  smart_contracts/artifacts/d_asa/dasa_client.py
Due: ruff

chore: rename module
  modules/__init__.py
Due: none

chore: update conftest helpers
  tests/conftest_helpers.py
Due: ruff

chore: update conftest helpers
  tests/pam/pam_test_support.py
Due: ruff

chore: update utils
  tests/utils.py
Due: ruff

ci: update matrix tests
  .github/workflows/d-asa-ci.yaml
Due: none

fix: deployment
  smart_contracts/d_asa/deploy_config.py
Due: ruff

chore: update conftest helpers
  tests/conftest.py
  tests/conftest_helpers.py
  tests/mock_module_rbac/conftest.py
  tests/pam/fcb/test_pam_fixed_coupon_bond.py
  tests/pam/pam_test_support.py
  tests/pam/zcb/test_pam_zero_coupon_bond.py
Due: ruff

chore: bump dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: deployments
  smart_contracts/d_asa/deploy_config.py
Due: ruff

chore: update conftest
  tests/conftest.py
  tests/pam/conftest.py
  tests/pam/fcb/test_pam_fixed_coupon_bond.py
  tests/pam/pam_test_support.py
  tests/pam/zcb/test_pam_zero_coupon_bond.py
  tests/sdk/test_deploy_config.py
Due: ruff

chore: please mypy
  smart_contracts/d_asa/deploy_config.py
  src/normalization/conversions.py
  src/normalization/core.py
  src/normalization/event_seeds.py
  src/normalization/schedules.py
  src/schedule.py
Due: ruff

chore: rename methods
  modules/accounting.py
  modules/actus_kernel.py
  modules/rbac.py
  modules/transfer_agent.py
  tests/mock_module_rbac/test_mock_rbac_module.py
  tests/pam/fcb/test_pam_fixed_coupon_bond.py
  tests/pam/zcb/test_pam_zero_coupon_bond.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/d_asa/DASA.approval.puya.map
  smart_contracts/artifacts/d_asa/DASA.approval.teal
  smart_contracts/artifacts/d_asa/DASA.arc56.json
  smart_contracts/artifacts/d_asa/dasa_client.py
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.puya.map
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.approval.teal
  smart_contracts/artifacts/mock_module_rbac/MockRbacModule.arc56.json
  smart_contracts/artifacts/mock_module_rbac/mock_rbac_module_client.py
Due: ruff

feat: observed cash event request
  smart_contracts/abi_types.py
Due: ruff

chore: op up constants
  smart_contracts/constants.py
Due: ruff

chore: restrict D-ASA compliance profile
  src/normalization/core.py
Due: none

chore: obs cash event request
  src/models.py
Due: none

chore: op up
  modules/payment_agent.py
Due: none

chore: allow pi event
  src/registry.py
Due: none

fix: principal schedule
  src/normalization/schedules.py
Due: none

feat: observed cash event
  modules/actus_kernel.py
  src/__init__.py
Due: none

chore: lint
  modules/actus_kernel.py
  src/normalization/core.py
Due: none

chore: add docsrtings
  modules/actus_kernel.py
  modules/payment_agent.py
  modules/rbac.py
  modules/transfer_agent.py
Due: none

chore: ignore mdbook-mermaid artifacts
  .gitignore
Due: none

chore: update role keys prefix
  smart_contracts/constants.py
Due: ruff

ci: add mdbook-mermaid
  .github/actions/docs-ci/action.yaml
Due: none

fix: typos
  docs/interfaces/rbac/overview.md
  docs/specs/accounting/account.md
  docs/specs/contract/actus-compliance-profile.md
  docs/specs/contract/attributes.md
  docs/specs/execution/payment-agent/payment-agent.md
  docs/specs/execution/transfer-agent/dvp.md
  docs/specs/execution/transfer-agent/transfer-agent.md
  docs/specs/rbac/roles.md
Due: mdbook-test

fix: more typos
  docs/specs/contract/actus-compliance-profile.md
  docs/specs/contract/attributes.md
Due: mdbook-test

chore: nit
  .github/actions/docs-ci/action.yaml
Due: none

chore: remove unused errors
  smart_contracts/errors.py
Due: ruff

chore: move canonical artifacts in sdk
  .algokit.toml
  .github/workflows/d-asa-ci.yaml
  README.md
  docs/implementation/reference-implementation.md
  smart_contracts/__main__.py
  smart_contracts/d_asa/deploy_config.py
  src/__init__.py
  src/artifacts/DASA.arc56.json
  src/artifacts/__init__.py
  src/artifacts/dasa_client.py
  tests/conftest.py
  tests/conftest_helpers.py
  tests/pam/conftest.py
  tests/pam/fcb/test_pam_fixed_coupon_bond.py
  tests/pam/pam_test_support.py
  tests/pam/zcb/test_pam_zero_coupon_bond.py
  tests/utils.py
Due: ruff, mdbook-test

feat: set default status
  modules/actus_kernel.py
Due: none
